@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora:ital,wght@0,400..700;1,400..700&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    width: 100% !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar {
    background-color: #198754 !important;
}

a {
    color: rgb(255, 255, 255) !important;
    font-weight: 600 !important;
}

.dropdown-item {
    color: rgb(255, 255, 255) !important;
    font-weight: 600 !important;
}

.dropdown-menu {
    background: #198754 !important;
    width: 200px !important;
}

.dropdown-menu a:hover {
    background: rgb(255, g255, 255) !important;
    font-weight: 600 !important;
    background-color: rgb(0, 63, 39) !important;

}

.container-fluid {
    width: 100% !important;
    padding: 0vw 5vw !important;
}

#navbarSupportedContent {
    width: 100% !important;
    display: flex !important;
    justify-content: end !important;
    margin-right: 2vw !important;
}

#hero img {
    height: 200px !important;
    width: 100% !important;
    object-fit: cover !important;
}

#Destaquedasemana h1{
    text-align: center !important;
    padding: 2vw !important;
    
}


#cards {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100vw !important;
    gap: 20px !important;
}

.card {
    height: 80vh !important;
    width: 25vw !important;
    display: flex !important;
    align-items: center !important;
}

.card-img-top{
    height: 50vh !important;
    width: 25vw !important;
}

.Destaque{
   font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
    background-color: rgb(14, 104, 74);

}

#texto{
    height: 20vh;
}